.img-zoom {
  overflow: hidden;
  margin: 0 auto;
}

.img-zoom img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img-zoom:hover img {
  transform: scale(1.1);
}

/*
///////////////////////////////RESET\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  transition: 300ms;
}

.main-content a {
  color: #333333;
  transition: all 0.3s linear;
  border-bottom: 1px solid #ff9029;
  padding: 0 2px;
}
.main-content a:hover {
  background-color: #ff9029;
  color: white;
}

.main-content .pullout a {
  border-bottom: 1px solid white;
}
.main-content .pullout a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2.handwritten {
  font-family: "Caveat", cursive;
  font-size: 3rem;
}
@media (max-width: 550px) {
  h2.handwritten {
    font-size: 2rem;
  }
}

h3.handwritten {
  font-family: "Caveat", cursive;
  font-size: 2rem;
}

h4.handwritten {
  font-family: "Caveat", cursive;
  font-size: 2rem;
}
@media (max-width: 550px) {
  h4.handwritten {
    font-size: 1.5rem;
  }
}

h3 {
  font-weight: bold;
}

.pullout h4 {
  font-weight: bold;
  padding-bottom: 1rem;
}

/*gradient text & blockquotes*/
.quote {
  color: #ff9029;
  font-weight: bold;
}
.quote p {
  font-size: 2.2rem;
  line-height: 2.4rem;
  background: #ff9029;
  background: -webkit-linear-gradient(to right, #ff9029 0%, #ff301a 100%);
  background: -moz-linear-gradient(to right, #ff9029 0%, #ff301a 100%);
  background: linear-gradient(to right, #ff9029 0%, #ff301a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 800px) {
  .quote p {
    max-width: 100%;
  }
}
@media (max-width: 1100px) {
  .quote {
    font-size: 1.25rem;
  }
}
@media (max-width: 800px) {
  .quote {
    text-align: center;
  }
}

.main-content blockquote {
  font-size: 1.125rem;
  font-weight: bold;
}
@media (max-width: 800px) {
  .main-content blockquote {
    max-width: 100%;
    font-size: 1rem;
  }
}

.pullout blockquote {
  color: white;
}

/*opening paragraph and quote grid*/
.text-quote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
}
@media (max-width: 600px) {
  .text-quote {
    grid-template-columns: 1fr;
  }
}
.text-quote div {
  background-color: rgba(255, 255, 255, 0.3);
  justify-self: end;
  width: 80%;
  border-radius: 5px;
  height: fit-content;
}
@media (max-width: 600px) {
  .text-quote div {
    justify-self: center;
  }
}

/*////////////////UTILITIES \\\\\\\\\\\\\\\*/
/*image hover effect*/
.hide {
  display: none !important;
}

@media (max-width: 800px) {
  .small-screen-hide {
    display: none !important;
  }
}

.small-screen-only {
  display: none;
}
@media (max-width: 800px) {
  .small-screen-only {
    display: block;
  }
}

.circles {
  border-radius: 50%;
}

/*padding & margin*/
.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem !important;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

/*clear out legay gutenberg cols in homepage*/
.wp-block-columns {
  display: none;
}

/*This comes from  https://avexdesigns.com/blog/responsive-youtube-embed */
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: white;
  color: #2c2e35;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
}

/*
///////////////////////////CONTAINER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
  padding: 0;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    padding: 0;
  }
}
.inner-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}
@media (max-width: 600px) {
  .inner-container {
    padding: 0 0.5rem;
  }
}

.main-content {
  min-height: calc(100vh - 70px);
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 600px) {
  .main-content {
    padding: 1rem 0.5rem;
  }
}

section {
  padding: 2rem 0 0 0;
}

.two-column-container {
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-rows: auto;
  gap: 4rem;
  padding-bottom: 1rem;
}
@media (max-width: 700px) {
  .two-column-container {
    grid-template-columns: 1fr;
    grid-template-areas: none;
  }
}

.three-column-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 4rem;
  padding-bottom: 1rem;
}
@media (max-width: 700px) {
  .three-column-container {
    grid-template-columns: 1fr;
    grid-template-areas: none;
  }
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 800px) {
  .video-container {
    grid-template-columns: 1fr;
  }
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem 0;
}

.quote-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.page-template-children-sub-pages-page .image-container img,
.page-template-schools-sub-pages-page .image-container img,
.page-template-learning-sub-pages-page .image-container img {
  width: 100%;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 850px) {
  .team-container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}
.team-container .team-item {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) and (max-width: 850px) {
  .team-container .team-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .team-container .team-item img {
    grid-row: 1/4;
    height: 100%;
  }
  .team-container .team-item h4,
.team-container .team-item h5,
.team-container .team-item p {
    grid-column: 2/-1;
  }
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .form-container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .posts-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .posts-container {
    grid-template-columns: 1fr;
  }
}

.posts-item {
  background-color: white;
  color: black;
  box-shadow: var(--shadow-2);
}

.posts-item-inner-container {
  padding: 1rem;
}
.posts-item-inner-container a {
  color: #ff9029;
}

.links-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links-logo-container img {
  max-width: 10%;
}
.links-logo-container p {
  padding-bottom: 0;
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
  gap: 2rem;
}

.footer-container {
  height: 100px;
}

.footer-outer-container {
  background-color: #ffcd05;
}

.footer-inner-container {
  min-height: 100px;
  margin-top: -2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.875rem;
}
@media (max-width: 800px) {
  .footer-inner-container {
    flex-direction: column;
  }
  .footer-inner-container .social {
    display: block;
    padding-left: 0;
    font-size: 1.25rem;
  }
}

/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.pre-nav {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding-top: 0.5rem;
  overflow-x: hidden;
}
@media (max-width: 450px) {
  .pre-nav {
    grid-template-columns: 65% 55%;
  }
}
.pre-nav .social {
  text-align: right;
}
@media (max-width: 1100px) {
  .pre-nav .social {
    padding-left: 3rem;
    text-align: left;
  }
}
@media (max-width: 550px) {
  .pre-nav .social {
    padding-left: 0;
  }
  .pre-nav .social-icon {
    display: none;
  }
}
@media (max-width: 345px) {
  .pre-nav .social {
    display: none;
  }
}
.pre-nav .social a:not(:last-of-type) {
  margin-right: 10px;
}
.pre-nav .social > * {
  color: #ff9029;
}
.pre-nav .social a:nth-of-type(2):hover {
  color: #4372b8;
}
.pre-nav .social a:nth-of-type(3):hover {
  color: #ff301a;
}
.pre-nav .social a:nth-of-type(4):hover {
  color: #5ea9dd;
}
.pre-nav .social a:nth-of-type(5):hover {
  color: #ff301a;
}

/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.menu,
.sub-menu {
  list-style-type: none;
}

/* Desktop menu and logo*/
@media (min-width: 1100px) {
  .menu-container {
    margin-top: -2rem;
  }
}
.menu-container > * {
  align-self: center;
  flex-grow: 1;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: flex-start;
}

.logo-gif {
  margin-top: -1.2rem;
}

@media (min-width: 1100px) {
  .menu-item {
    position: relative;
    padding-right: 1rem;
  }

  .my-menu-item-5 {
    padding-right: 0;
  }

  .menu .current_page_item > a {
    color: #ff9029;
  }

  .menu .current-menu-ancestor .current_page_item > a {
    color: #2c2e35;
  }
}
.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu a:hover {
  color: white;
}

.menu li a {
  display: block;
  padding: 0 5px;
  color: #2c2e35;
  font-weight: bold;
  text-decoration: none;
}
.menu li a:hover {
  color: #ff9029;
}

.menu .my-menu-item-4 a:first-of-type {
  padding-right: 0;
}

.sub-menu {
  height: auto;
  overflow: hidden;
  background: #f57600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  border-radius: 3px;
  white-space: nowrap;
  border-left: 2px solid #ff9029;
  z-index: 100;
}
.sub-menu li {
  transition: all 0.2s ease;
  padding: 0.5rem 1rem;
}
.sub-menu li a {
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  transition: all 0.2 ease;
}
.sub-menu li a:hover {
  color: #2c2e35;
}
.sub-menu li:hover {
  background-color: #ff9029;
}

.toggle-btn-container {
  display: none;
}

.sub-menu-container {
  height: 0;
  overflow: hidden;
  background-color: #2c2e35;
  transition: all 0.5s ease;
}

.mobile-menu-container {
  height: 0px;
  overflow: hidden;
  transition: all 0.5s linear;
}

.mobile-sub-menu {
  margin-left: 0;
  font-size: 1rem;
}

@media (max-width: 1100px) {
  .current_page_item,
.current_page_ancestor,
.current-menu-item {
    background-color: #f57600;
  }

  .mobile-menu {
    background-color: #ff9029;
  }
  .mobile-menu li.menu-item-has-children,
.mobile-menu li.menu-item-213 {
    font-size: 1rem;
    position: relative;
  }
  .mobile-menu li.menu-item-has-children li a,
.mobile-menu li.menu-item-213 li a {
    font-size: 0.875rem;
  }
  .mobile-menu li.menu-item-has-children a:first-of-type,
.mobile-menu li.menu-item-213 a:first-of-type {
    display: block;
    padding: 0.5rem 1rem;
    margin-right: 42px;
  }
  .mobile-menu li.menu-item-has-children a:first-of-type:hover,
.mobile-menu li.menu-item-213 a:first-of-type:hover {
    background-color: #f57600;
  }
  .mobile-menu li.menu-item-has-children .open,
.mobile-menu li.menu-item-213 .open {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: #f57600;
    cursor: pointer;
  }
  .mobile-menu li li:hover {
    background-color: #f57600;
  }
  .mobile-menu li a {
    color: white;
  }

  .toggle-btn-container {
    display: block;
  }

  .nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #ff9029;
    transition: all 0.3s linear;
    width: 50px;
  }

  .menu {
    display: none;
  }

  .menu {
    flex-direction: column;
  }

  .sub-menu {
    display: block;
  }
}
@media (max-width: 700px) {
  .nav-toggle {
    top: 0;
    right: 0;
  }
}
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.footer-wave {
  margin-top: 5px;
  margin-left: -5px;
  /*no idea why - but there is a white space without !!*/
}

.footer-container .social > a {
  color: white;
  font-size: 1.875rem;
  padding-right: 1rem;
}
.footer-container .social a:nth-of-type(1):hover {
  color: #4372b8;
}
.footer-container .social a:nth-of-type(2):hover {
  color: #ff301a;
}
.footer-container .social a:nth-of-type(3):hover {
  color: #5ea9dd;
}
.footer-container .social a:nth-of-type(4):hover {
  color: #ff301a;
}

.footer-text,
.footer-address {
  margin-bottom: 1rem;
}
.footer-text a,
.footer-address a {
  color: #2c2e35;
}
.footer-text a:hover,
.footer-address a:hover {
  text-decoration: underline;
}

/*//////////BACKGROUND DECORATIVE IMAGES\\\\\\\\\\\\\\*/
.home {
  background: url(../img/ribbon-1.svg) no-repeat 20% top;
  background-size: 110%;
}
@media (max-width: 800px) {
  .home {
    background: none;
  }
}

.page-about {
  background: url(../img/ribbon-5.svg) no-repeat 20% top;
  background-size: 110%;
}
@media (max-width: 800px) {
  .page-about {
    background: none;
  }
}

.page-our-team,
.category-news,
.page-template-performing-page,
.page-template-impact-page,
.page-template-policies-page,
.page-template-press-page,
.page-template-contact-page {
  background: url(../img/ribbon-5-light.svg) no-repeat 20% top;
  background-size: 110%;
}
@media (max-width: 800px) {
  .page-our-team,
.category-news,
.page-template-performing-page,
.page-template-impact-page,
.page-template-policies-page,
.page-template-press-page,
.page-template-contact-page {
    background: none;
  }
}

.page-children-and-young-people {
  background: url(../img/ribbon-4.svg) no-repeat -10% 100px;
  background-size: 50%;
}
@media (max-width: 800px) {
  .page-children-and-young-people {
    background: none;
  }
}

.page-template-children-sub-pages-page {
  background: url(../img/ribbon-4-light.svg) no-repeat -10% 100px;
  background-size: 50%;
}
@media (max-width: 800px) {
  .page-template-children-sub-pages-page {
    background: none;
  }
}

.page-families {
  background: url(../img/ribbon-2.svg) no-repeat -10% 100px;
  background-size: 70%;
}
@media (max-width: 800px) {
  .page-families {
    background: none;
  }
}

.page-template-parent-therapy-page,
.page-community-events {
  background: url(../img/ribbon-2-light.svg) no-repeat -10% 100px;
  background-size: 70%;
}
@media (max-width: 800px) {
  .page-template-parent-therapy-page,
.page-community-events {
    background: none;
  }
}

.page-schools-partners {
  background: url(../img/ribbon-8.svg) no-repeat -20px 70px;
  background-size: 110%;
}
@media (max-width: 800px) {
  .page-schools-partners {
    background: none;
  }
}

.page-template-schools-sub-pages-page {
  background: url(../img/ribbon-8-light.svg) no-repeat -20px 70px;
  background-size: 110%;
}
@media (max-width: 800px) {
  .page-template-schools-sub-pages-page {
    background: none;
  }
}

.page-learning-training {
  background: url(../img/ribbon-9.svg) no-repeat 0 20px;
  background-size: 180%;
}
@media (max-width: 800px) {
  .page-learning-training {
    background: none;
  }
}

.page-template-learning-sub-pages-page {
  background: url(../img/ribbon-9-light.svg) no-repeat 0 20px;
  background-size: 180%;
}
@media (max-width: 800px) {
  .page-template-learning-sub-pages-page {
    background: none;
  }
}

.page-support-us {
  background: url(../img/ribbon-12.svg) no-repeat -50px 200px;
  background-size: 110%;
}

/*////////////////HOME PAGE \\\\\\\\\\\\\\\*/
.intro p {
  font-size: 1.375rem;
}

/*opening paragraph and quote*/
.intro figcaption {
  text-align: right;
  font-size: 0.875rem;
}

.circles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.circle-2 {
  margin-left: -10%;
  max-width: 60%;
  align-self: end;
}
@media (max-width: 600px) {
  .circle-2 {
    max-width: 100%;
    align-self: center;
  }
}

.main-text {
  padding-top: 2rem;
}
.main-text p:last-of-type {
  font-size: var(--font-size-fluid-1);
}

/*////////////////ABOUT PAGE \\\\\\\\\\\\\\\*/
.page-about .intro p {
  font-size: 1.125rem;
}
@media (max-width: 800px) {
  .page-about .intro p {
    font-size: 1rem;
  }
}

.page-about .col-2 .circles {
  margin-top: 2rem;
}
.page-about .col-2 .pullout {
  margin-top: 2rem;
}

.pullout {
  background-color: #ff9029;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
}

/*////////////////CONTACT PAGE \\\\\\\\\\\\\\\*/
.wpforms-container-full {
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: aqua;
}

.form-container sup {
  color: #ff9029;
}

/*adress column*/
.address .fas {
  color: #f57600;
}

.pdfs {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}
@media (max-width: 1100px) {
  .pdfs {
    flex-direction: column;
  }
}

.pdfs div {
  background-color: #ff9029;
  padding: 10px;
}

/*////////////////CHILDREN PAGE \\\\\\\\\\\\\\\*/
.columns p:first-of-type {
  font-size: 1.125rem;
  font-weight: bold;
}
@media (max-width: 800px) {
  .columns p:first-of-type {
    font-size: 1rem;
  }
}

/*////////////////TEAM PAGE \\\\\\\\\\\\\\\*/
.team-item {
  background-color: #ff9029;
  box-shadow: var(--shadow-2);
}
.team-item img {
  width: 100%;
  object-fit: cover;
}
.team-item h4 {
  width: 100%;
  background-color: white;
  font-size: 1.25rem;
  color: #2c2e35;
  font-weight: bold;
  text-align: center;
}
.team-item h5 {
  width: 100%;
  background-color: #ffcd05;
  font-size: 1rem;
  color: #2c2e35;
  font-weight: bold;
  text-align: center;
  padding-top: 3px;
}
.team-item p {
  padding: 1rem;
}

/*////////////////ARCHIVE & SINGLE POST PAGE \\\\\\\\\\\\\\\*/
.main-content .post-img-link {
  border: none;
  padding: 0;
}

.single-post .img-zoom img {
  max-width: 30%;
}

/*////////////////POLICIES PAGE \\\\\\\\\\\\\\\*/
.policy {
  background-color: #ff9029;
  padding: 1rem;
  border-radius: 8px;
}
.policy h3 {
  color: white;
  padding-bottom: 1rem;
}

/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
/*icons*/
button {
  border: none;
  padding: 0.5rem 1.15rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}
button a {
  color: white;
}
button:hover {
  -webkit-box-shadow: 5px 5px 0px -2px #ffffff;
  box-shadow: 5px 5px 0px -2px #ffffff;
}
button:hover .fa-arrow-right {
  transform: translateX(15px);
}

.nav-toggle:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.social .donate-btn {
  background-color: #ff9029;
  padding: 5px 10px;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 3px;
}
.social .donate-btn:hover {
  background-color: #ffcd05;
  color: #f57600;
  -webkit-box-shadow: 5px 5px 0px -2px #f57600;
  box-shadow: 5px 5px 0px -2px #f57600;
}

.pdfs p a {
  background-color: #ff9029;
  padding: 5px 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
}
.pdfs p a:hover {
  background-color: #ffcd05;
  color: #2c2e35;
  -webkit-box-shadow: 5px 5px 0px -2px #f57600;
  box-shadow: 5px 5px 0px -2px #f57600;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.footer-container .donate-btn {
  display: inline-block;
  background-color: #ff9029;
  padding: 5px 10px;
  margin-top: 5px;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 3px;
}
.footer-container .donate-btn:hover {
  background-color: #f57600;
  color: #2c2e35;
  text-decoration: none;
  -webkit-box-shadow: 5px 5px 0px -2px #ffffff;
  box-shadow: 5px 5px 0px -2px #ffffff;
}

.policy .download-btn {
  background-color: #f57600;
  padding: 5px 10px;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 3px;
}
.policy .download-btn:hover {
  background-color: #ffcd05;
  color: #f57600;
  -webkit-box-shadow: 5px 5px 0px -2px #f57600;
  box-shadow: 5px 5px 0px -2px #f57600;
}

.submit {
  background-color: #ff9029;
  padding: 5px 10px;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  transition: 300ms;
}
.submit:hover {
  background-color: #ffcd05;
  color: #f57600;
  -webkit-box-shadow: 5px 5px 0px -2px #f57600;
  box-shadow: 5px 5px 0px -2px #f57600;
}

/*///////////////////Statistics 'bubbles'\\\\\\\\\\\\\\\\\\\\\*/
.stats-item {
  background-color: #ff9029;
  background-image: url(../img/ribbon-5.svg);
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-size: 110%;
  background-position-x: 15%;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.stats-item h3 {
  color: white;
}
.stats-item h4 {
  font-size: 3.75rem;
  color: #ff9029;
  padding: 1rem;
  border-radius: 25px 0;
  background-color: white;
  outline: 5px solid #ffcd05;
}

/*# sourceMappingURL=style.css.map */
