.img-zoom {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img-zoom:hover {
  transform: scale(1.1);
}

/*image hover effect*/
.hide {
  display: none !important;
}

.circles {
  border-radius: 50%;
}

/*padding & margin*/
.pt3 {
  padding-top: 3rem !important;
}

/*clear out legay gutenberg cols in homepage*/
.wp-block-columns {
  display: none;
}

/*This comes from ACF https://www.advancedcustomfields.com/resources/oembed/ */
.video {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border: 10px solid #ff9029;
  border-radius: 8px;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
///////////////////////////////RESET\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  transition: 300ms;
}

.main-content p a {
  color: #333333;
  transition: all 0.3s linear;
  border-bottom: 1px solid #f57600;
}
.main-content p a:hover {
  background-color: rgba(255, 144, 41, 0.3);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2.handwritten {
  font-family: "Caveat", cursive;
  font-size: 3rem;
}

h3 {
  font-weight: bold;
}

/*gradient text*/
.opening-quote {
  background-image: linear-gradient(90deg, #fbb308, #ef2e21);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  padding: 0 0 1rem 0;
}
@media (max-width: 1100px) {
  .opening-quote {
    font-size: 1.25rem;
  }
}
@media (max-width: 600px) {
  .opening-quote {
    justify-self: center;
    width: 100%;
    text-align: center;
  }
}

.main-content blockquote {
  background-image: linear-gradient(90deg, #fbb308, #ef2e21);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.25rem;
  font-weight: bold;
  max-width: 40%;
}
@media (max-width: 800px) {
  .main-content blockquote {
    max-width: 100%;
    font-size: 1rem;
  }
}

/*opening paragraph and quote*/
.text-quote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
}
@media (max-width: 600px) {
  .text-quote {
    grid-template-columns: 1fr;
  }
}
.text-quote div {
  background-color: rgba(255, 255, 255, 0.3);
  justify-self: end;
  width: 80%;
  border-radius: 5px;
  height: fit-content;
}
@media (max-width: 600px) {
  .text-quote div {
    justify-self: center;
  }
}

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: white;
  color: #2c2e35;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
}

/*
///////////////////////////CONTAINER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
  padding: 0;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    padding: 0;
  }
}
.inner-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.main-content {
  min-height: calc(100vh - 70px);
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 600px) {
  .main-content {
    padding: 0 0.5rem;
  }
}

.footer-container {
  height: 100px;
}

.footer-outer-container {
  background-color: #ffcd05;
}

.footer-inner-container {
  min-height: 100px;
  margin-top: -2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.875rem;
}
@media (max-width: 800px) {
  .footer-inner-container .social {
    display: block;
    padding-left: 0;
    font-size: 1.25rem;
  }
}

/*50:50 opening paragraph and gradient text quote*/
.text-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
}
@media (max-width: 600px) {
  .text-img {
    grid-template-columns: 1fr;
  }
}
.text-img div + div {
  max-width: 70%;
  justify-self: end;
  align-self: start;
}
@media (max-width: 1100px) {
  .text-img div + div {
    max-width: 90%;
  }
}
@media (max-width: 600px) {
  .text-img div + div {
    justify-self: center;
  }
}

/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.pre-nav {
  display: grid;
  grid-template-columns: 30% 1fr;
  padding-top: 1rem;
}
@media (max-width: 800px) {
  .pre-nav {
    grid-template-columns: 1fr;
  }
}
.pre-nav .social {
  text-align: right;
}
@media (max-width: 1100px) {
  .pre-nav .social {
    padding-left: 3rem;
    text-align: left;
  }
}
@media (max-width: 800px) {
  .pre-nav .social {
    display: none;
  }
}
.pre-nav .social a:not(:last-of-type) {
  padding-right: 10px;
}
.pre-nav .social > * {
  color: #ff9029;
}
.pre-nav .social a:nth-of-type(1):hover {
  color: #4372b8;
}
.pre-nav .social a:nth-of-type(2):hover {
  color: #ff301a;
}
.pre-nav .social a:nth-of-type(3):hover {
  color: #5ea9dd;
}
.pre-nav .social a:nth-of-type(4):hover {
  color: #ff301a;
}
.pre-nav .social a:nth-of-type(5):hover {
  color: #f57600;
}

/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.menu,
.sub-menu {
  list-style-type: none;
}

/* Desktop menu and logo*/
@media (min-width: 1100px) {
  .menu-container {
    margin-top: -3rem;
  }
}
.menu-container > * {
  align-self: center;
  flex-grow: 1;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: flex-start;
}

.logo-gif {
  margin-top: -1.2rem;
}

@media (min-width: 1100px) {
  .menu-item {
    position: relative;
    padding-right: 1rem;
  }

  .my-menu-item-5 {
    padding-right: 0;
  }

  .menu .current_page_item > a {
    color: #ff9029;
  }

  .menu .current-menu-ancestor .current_page_item > a {
    color: #2c2e35;
  }
}
.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu a:hover {
  color: white;
}

.menu li a {
  display: block;
  padding: 0 5px;
  color: #2c2e35;
  text-decoration: none;
}
.menu li a:hover {
  color: #ff9029;
}

.menu .my-menu-item-4 a:first-of-type {
  padding-right: 0;
}

.sub-menu {
  height: auto;
  overflow: hidden;
  background: #f57600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  border-radius: 3px;
  white-space: nowrap;
  border-left: 2px solid #ff9029;
  z-index: 100;
}
.sub-menu li {
  transition: all 0.2s ease;
  padding: 0.5rem 1rem;
}
.sub-menu li a {
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  transition: all 0.2 ease;
}
.sub-menu li a:hover {
  color: #2c2e35;
}
.sub-menu li:hover {
  background-color: #ff9029;
}

.toggle-btn-container {
  display: none;
}

.sub-menu-container {
  height: 0;
  overflow: hidden;
  background-color: #2c2e35;
  transition: all 0.5s ease;
}

.mobile-menu-container {
  height: 0px;
  overflow: hidden;
  transition: all 0.5s linear;
}

.mobile-sub-menu {
  margin-left: 0;
  font-size: 1rem;
}

@media (max-width: 1100px) {
  .current_page_item,
.current_page_ancestor,
.current-menu-item {
    background-color: #f57600;
  }

  .mobile-menu {
    background-color: #ff9029;
  }
  .mobile-menu li.menu-item-has-children,
.mobile-menu li.menu-item-169 {
    font-size: 1rem;
    position: relative;
  }
  .mobile-menu li.menu-item-has-children li a,
.mobile-menu li.menu-item-169 li a {
    font-size: 0.875rem;
  }
  .mobile-menu li.menu-item-has-children a:first-of-type,
.mobile-menu li.menu-item-169 a:first-of-type {
    display: block;
    padding: 0.5rem 1rem;
    margin-right: 42px;
  }
  .mobile-menu li.menu-item-has-children a:first-of-type:hover,
.mobile-menu li.menu-item-169 a:first-of-type:hover {
    background-color: #f57600;
  }
  .mobile-menu li.menu-item-has-children .open,
.mobile-menu li.menu-item-169 .open {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: #f57600;
    cursor: pointer;
  }
  .mobile-menu li li:hover {
    background-color: #f57600;
  }
  .mobile-menu li a {
    color: white;
  }

  .toggle-btn-container {
    display: block;
  }

  .nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #ff9029;
    transition: all 0.3s linear;
    width: 50px;
  }

  .menu {
    display: none;
  }

  .menu {
    flex-direction: column;
  }

  .sub-menu {
    display: block;
  }
}
@media (max-width: 700px) {
  .nav-toggle {
    top: 0;
    right: 0;
  }
}
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.footer-wave {
  margin-top: 5px;
  margin-left: -5px;
  /*no idea why - but there is a white space without !!*/
}

.footer-container .social > a {
  color: white;
  font-size: 1.875rem;
  padding-right: 1rem;
}
.footer-container .social a:nth-of-type(1):hover {
  color: #4372b8;
}
.footer-container .social a:nth-of-type(2):hover {
  color: #ff301a;
}
.footer-container .social a:nth-of-type(3):hover {
  color: #5ea9dd;
}
.footer-container .social a:nth-of-type(4):hover {
  color: #ff301a;
}

.footer-text {
  margin-bottom: 1rem;
}
.footer-text a {
  color: #2c2e35;
}
.footer-text a:hover {
  text-decoration: underline;
}

/*//////////BACKGROUND DECORATIVE IMAGES\\\\\\\\\\\\\\*/
.home {
  background: url(../img/ribbon-1.svg) no-repeat 20% top;
  background-size: 110%;
}

.page-about {
  background: url(../img/ribbon-5.svg) no-repeat 20% top;
  background-size: 110%;
}

/*////////////////HOME PAGE \\\\\\\\\\\\\\\*/
.intro p {
  font-size: 1.375rem;
}
@media (max-width: 800px) {
  .intro p {
    font-size: 1rem;
  }
}

/*opening paragraph and quote*/
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 600px) {
  .intro {
    grid-template-columns: 1fr;
  }
}
.intro p {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 5px;
  height: fit-content;
}
@media (max-width: 500px) {
  .intro p {
    padding: 0;
  }
}
.intro img {
  max-width: 80%;
  justify-self: end;
}
@media (max-width: 800px) {
  .intro img {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .intro img {
    max-width: 80%;
    justify-self: center;
    padding: 1rem 0;
  }
}

.circles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.circle-2 {
  margin-left: -10%;
  max-width: 60%;
  align-self: end;
}
@media (max-width: 600px) {
  .circle-2 {
    max-width: 100%;
    align-self: center;
  }
}

.main-text {
  padding-top: 2rem;
}

/*////////////////ABOUT PAGE \\\\\\\\\\\\\\\*/
.page-about .intro p {
  font-size: 1.125rem;
}
@media (max-width: 800px) {
  .page-about .intro p {
    font-size: 1rem;
  }
}

/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
/*icons*/
button {
  border: none;
  padding: 0.5rem 1.15rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}
button a {
  color: white;
}
button:hover {
  -webkit-box-shadow: 5px 5px 0px -2px #ffffff;
  box-shadow: 5px 5px 0px -2px #ffffff;
}
button:hover .fa-arrow-right {
  transform: translateX(15px);
}

.nav-toggle:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.donate-btn {
  background-color: #ff9029;
  padding: 0.2rem 0.2rem !important;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
