/*image hover effect*/

.hide {
    display: none !important;
}
.circles {
    border-radius: 50%;
}

/*padding & margin*/

.pt3 {
    padding-top: 3rem !important;
}
.mt1 {
    margin-top: 1rem;
}
.mt2 {
    margin-top: 2rem;
}
.mt3 {
    margin-top: 3rem;
}
/*clear out legay gutenberg cols in homepage*/
.wp-block-columns {
    display: none;
}

/*This comes from ACF https://www.advancedcustomfields.com/resources/oembed/ */
.video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 18px;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
