@use "../abstracts/variables" as *;

/*//////////BACKGROUND DECORATIVE IMAGES\\\\\\\\\\\\\\*/
.home {
    background: url(../img/ribbon-1.svg) no-repeat 20% top;
    background-size: 110%;
    @include below(500px) {
        background: none;
    }
}

.page-about {
    background: url(../img/ribbon-5.svg) no-repeat 20% top;
    background-size: 110%;
    @include below(500px) {
        background: none;
    }
}
