@use "../abstracts/variables" as *;
/*
///////////////////////////CONTAINER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
    padding: 0;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}
@include below($br-small) {
    .container {
        width: 100%;
        padding: 0;
    }
}
.inner-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem;
    @include below(600px) {
        padding: 0 0.5rem;
    }
}
.main-content {
    min-height: calc(100vh - 70px);
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    @include below(600px) {
        padding: 1rem 0.5rem;
    }
}
section {
    padding: 2rem 0 0 0;
}
.two-column-container {
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: auto;
    gap: 4rem;
    padding-bottom: 1rem;
    @include below(700px) {
        grid-template-columns: 1fr;
        grid-template-areas: none;
    }
}
.three-column-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 4rem;
    padding-bottom: 1rem;
    @include below(700px) {
        grid-template-columns: 1fr;
        grid-template-areas: none;
    }
}
.video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @include below(800px) {
        grid-template-columns: 1fr;
    }
}
.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem 0;
    // place-items: center;
}
.quote-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    // padding: 2rem 0;
    // place-items: center;
}
.page-template-children-sub-pages-page .image-container img,
.page-template-schools-sub-pages-page .image-container img,
.page-template-learning-sub-pages-page .image-container img {
    width: 100%;
}
.team-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    @include below(850px) {
        grid-template-columns: 1fr;
        padding: 2rem;
    }
    .team-item {
        display: flex;
        flex-direction: column;
        @media (min-width: 600px) and (max-width: 850px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            img {
                grid-row: 1/4;
                height: 100%;
            }
            h4,
            h5,
            p {
                grid-column: 2/-1;
            }
        }
    }
}
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 2rem;
    @include below(800px) {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}
//News Archive
.posts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    @include below(1000px) {
        grid-template-columns: 1fr 1fr;
    }
    @include below(650px) {
        grid-template-columns: 1fr;
    }
}
.posts-item {
    background-color: $clr-white;
    color: $clr-black;
    box-shadow: var(--shadow-2);
}
.posts-item-inner-container {
    padding: 1rem;
    a {
        color: $clr-orange;
    }
}
.links-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        max-width: 10%;
    }
    p {
        padding-bottom: 0;
    }
}

.stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
    gap: 2rem;
}
.footer-container {
    height: 100px;
}
.footer-outer-container {
    background-color: $clr-yellow;
}
.footer-inner-container {
    min-height: 100px;
    margin-top: -2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: $fs-14;
    @include below(800px) {
        flex-direction: column;
        .social {
            display: block;
            padding-left: 0;
            font-size: $fs-20;
        }
    }
}
