@use "../abstracts/variables" as *;
/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.pre-nav {
    display: grid;
    grid-template-columns: 30% 1fr;
    padding-top: 1rem;
    @include below(800px) {
        grid-template-columns: 1fr;
    }
    .social {
        text-align: right;
    }
    @include below(1100px) {
        .social {
            padding-left: 3rem;
            text-align: left;
        }
    }
    @include below(800px) {
        .social {
            display: none;
        }
    }
    .social a:not(:last-of-type) {
        padding-right: 10px;
    }
    .social > * {
        color: $clr-orange;
    }

    .social a:nth-of-type(1):hover {
        color: #4372b8;
    }
    .social a:nth-of-type(2):hover {
        color: $clr-red;
    }
    .social a:nth-of-type(3):hover {
        color: #5ea9dd;
    }
    .social a:nth-of-type(4):hover {
        color: $clr-red;
    }
    .social a:nth-of-type(5):hover {
        color: $clr-orange-dark;
    }
}
