@use "../abstracts/variables" as *;
/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
/*icons*/
button {
    border: none;
    padding: 0.5rem 1.15rem;
    color: $clr-white;
    font-weight: bold;
    cursor: pointer;
    transition: $transition;
    a {
        color: $clr-white;
    }
    &:hover {
        //opacity: 0.8;
        //padding-right: 2rem;
        -webkit-box-shadow: 5px 5px 0px -2px #ffffff;
        box-shadow: 5px 5px 0px -2px #ffffff;
        .fa-arrow-right {
            transform: translateX(15px);
        }
    }
}
.nav-toggle:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.social .donate-btn {
    background-color: $clr-orange;
    padding: 5px 10px;
    color: white;
    font-size: $fs-14;
    font-weight: bold;
    border-radius: 3px;
    &:hover {
        background-color: $clr-yellow;
        color: $clr-orange-dark;
        -webkit-box-shadow: 5px 5px 0px -2px $clr-orange-dark;
        box-shadow: 5px 5px 0px -2px $clr-orange-dark;
    }
}
.pdfs p a {
    background-color: $clr-orange;
    padding: 5px 10px;
    color: white;
    font-size: $fs-16;
    font-weight: bold;
    border-radius: 3px;
    &:hover {
        background-color: $clr-yellow;
        color: $clr-dark;
        -webkit-box-shadow: 5px 5px 0px -2px $clr-orange-dark;
        box-shadow: 5px 5px 0px -2px $clr-orange-dark;
    }
}
.pagination {
    display: flex;
    justify-content: space-between;
}
.footer-container .donate-btn {
    display: inline-block;
    background-color: $clr-orange;
    padding: 5px 10px;
    margin-top: 5px;
    color: $clr-white;
    font-size: $fs-14;
    font-weight: bold;
    border-radius: 3px;
    &:hover {
        background-color: $clr-orange-dark;
        color: $clr-dark;
        text-decoration: none;
        -webkit-box-shadow: 5px 5px 0px -2px #ffffff;
        box-shadow: 5px 5px 0px -2px #ffffff;
    }
}
.policy .download-btn {
    background-color: $clr-orange-dark;
    padding: 5px 10px;
    color: white;
    font-size: $fs-14;
    font-weight: bold;
    border-radius: 3px;
    &:hover {
        background-color: $clr-yellow;
        color: $clr-orange-dark;
        -webkit-box-shadow: 5px 5px 0px -2px $clr-orange-dark;
        box-shadow: 5px 5px 0px -2px $clr-orange-dark;
    }
}
.submit {
    background-color: $clr-orange;
    padding: 5px 10px;
    color: white;
    font-size: $fs-14;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    transition: 300ms;
    &:hover {
        background-color: $clr-yellow;
        color: $clr-orange-dark;
        -webkit-box-shadow: 5px 5px 0px -2px $clr-orange-dark;
        box-shadow: 5px 5px 0px -2px $clr-orange-dark;
    }
}
