@use "../abstracts/variables" as *;
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  transition: 300ms;
}

// a:hover {
//   color: $clr-red;
// }
.main-content a {
  color: #333333;
  transition: all 0.3s linear;
  border-bottom: 1px solid $clr-orange;
  padding: 0 2px;
  &:hover {
    background-color: $clr-orange;
    color: $clr-white;
  }
}
.main-content .pullout a {
  border-bottom: 1px solid $clr-white;
  &:hover {
    background-color: $clr-white-transparent;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
h2.handwritten {
  font-family: $font-handwritten;
  font-size: $fs-48;
  @include below(550px) {
    font-size: $fs-32;
  }
}
h3.handwritten {
  font-family: $font-handwritten;
  font-size: $fs-32;
}
h4.handwritten {
  font-family: $font-handwritten;
  font-size: $fs-32;
  @include below(550px) {
    font-size: $fs-24;
  }
}
h3 {
  font-weight: bold;
}
.pullout h4 {
  font-weight: bold;
  padding-bottom: 1rem;
}
/*gradient text & blockquotes*/

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: fit-content;
  background-color: #721e08;
  padding: 2rem 1rem;
  color: $clr-orange;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: bold;
  outline: 8px solid $clr-orange;
  // padding: 0 0 1rem 0;
  p {
    // max-width: 75%;
    font-size: $fs-24;
    @include below(800px) {
      max-width: 100%;
    }
  }
  @include below(1100px) {
    font-size: $fs-20;
  }
  @include below(800px) {
    text-align: center;
  }
}
.main-content blockquote {
  font-size: $fs-18;
  font-weight: bold;
  @include below(800px) {
    max-width: 100%;
    font-size: $fs-16;
  }
}
.pullout blockquote {
  color: $clr-white;
}
/*opening paragraph and quote grid*/
.text-quote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
  @include below(600px) {
    grid-template-columns: 1fr;
  }
  div {
    background-color: $clr-white-transparent;
    justify-self: end;
    width: 80%;
    border-radius: 5px;
    height: fit-content;
    @include below(600px) {
      justify-self: center;
    }
  }
}
