@use "../abstracts/variables" as *;
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  transition: 300ms;
}

// a:hover {
//   color: $clr-red;
// }
.main-content a {
  color: #333333;
  transition: all 0.3s linear;
  border-bottom: 1px solid $clr-orange-transparent;
  &:hover {
    background-color: $clr-orange-transparent;
  }
}
.main-content .pullout a {
  border-bottom: 1px solid $clr-white;
  &:hover {
    background-color: $clr-white-transparent;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
h2.handwritten {
  font-family: $font-handwritten;
  font-size: $fs-48;
  @include below(550px) {
    font-size: $fs-32;
  }
}
h3 {
  font-weight: bold;
}
.pullout h4 {
  font-weight: bold;
  padding-bottom: 1rem;
}
/*gradient text & blockquotes*/

.opening-quote {
  background-image: linear-gradient(90deg, #fbb308, #ef2e21);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: $fs-22;
  text-align: right;
  font-weight: bold;
  padding: 0 0 1rem 0;
  @include below(1100px) {
    font-size: $fs-20;
  }
  @include below(800px) {
    text-align: center;
  }
}
.main-content blockquote {
  font-size: $fs-18;
  font-weight: bold;
  @include below(800px) {
    max-width: 100%;
    font-size: $fs-16;
  }
}
.pullout blockquote {
  color: $clr-white;
}
/*opening paragraph and quote grid*/
.text-quote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
  @include below(600px) {
    grid-template-columns: 1fr;
  }
  div {
    background-color: $clr-white-transparent;
    justify-self: end;
    width: 80%;
    border-radius: 5px;
    height: fit-content;
    @include below(600px) {
      justify-self: center;
    }
  }
}
