@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////ABOUT PAGE \\\\\\\\\\\\\\\*/

.page-about .intro p {
    font-size: $fs-18;
    @include below(800px) {
        font-size: $fs-16;
    }
}

.page-about .col-2 {
    .circles {
        margin-top: 2rem;
    }
    .pullout {
        margin-top: 2rem;
    }
}
.pullout {
    background-color: $clr-orange;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 2rem;
    // box-shadow: 5px 5px 0px -2px $clr-orange-dark;
}
