@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////CHILDREN PAGE \\\\\\\\\\\\\\\*/

.columns p:first-of-type {
    font-size: $fs-18;
    font-weight: bold;
    @include below(800px) {
        font-size: $fs-16;
    }
}
